<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Contact us App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="fragments/css-import :: css-import"/>
</head>
<body>


<div id="content">
    <div class="row">
        <h2>Contact us</h2>
    </div>

    <div class="success" th:if="${saved}" >Request saved</div>

    <div class="row">
        <form id="contact-form" action="#" th:object="${data}" method="post" th:action="@{/}">

            <div class="form-item">

                <label>Kind of Request</label>
                <select th:field="*{typeCode}" class="w100">
                    <option th:each="type : ${types}"
                            th:value="${type.code}" th:text="${type.name}"></option>
                </select>
            </div>
            <div class="form-item">
                <label>Policy number</label>
                <input type="text" th:field="*{policyNumber}" class="w100">
                <div class="error" th:errors="*{policyNumber}"/>
            </div>

            <div class="form-item">
                <label>Name</label>
                <input type="text" th:field="*{name}" class="w100">
                <div class="error" th:errors="*{name}"/>
            </div>

            <div class="form-item">
                <label>Surname</label>
                <input type="text" th:field="*{surname}" class="w100">
                <div class="error" th:errors="*{surname}"/>
            </div>

            <div class="form-item">
                <label>Your request</label>
                <textarea rows="6" th:field="*{text}" class="w100"></textarea>
                <div class="error" th:errors="*{text}"/>
            </div>

            <div class="form-item is-buttons">
                <button class="button">Send request</button>
            </div>
        </form>

    </div>

</div>


</body>
</html>
