<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="css-import" th:remove="tag">
    <link href="../static/css/contactapp.css" th:href="@{/css/contactapp.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/kube.min.css" th:href="@{/css/kube.min.css}" rel="stylesheet" media="screen"/>
</div>
</body>
</html>
