#content {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

#contact-form {
    width: 300px;
}

.row {
    width: 100%;
    display: block;
    position: relative;
    zoom: 1;
    clear: both;
}